body{
    background-color: rgb(154, 225, 225);
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}
.container {
    border-color: black;
    border-style: solid;
    margin: 5% 5% 8% 8%;
    padding: 2%;
    background-color: rgb(154, 225, 225);
}